
.row
    .col-sm-8
        .carousel.slide#slides{"data-ride" => "carousel"}
            %ol.carousel-indicators
                %li.active{"data-target"=>"#slides", "data-slide-to"=>"0"}
                %li{"data-target"=>"#slides", "data-slide-to"=>"1"}
                %li{"data-target"=>"#slides", "data-slide-to"=>"2"}
            .carousel-inner
                .item.active
                    =image_tag "images/shorts_burgers.jpg"
                    .carousel-caption
                        Caption 1 
                        %p text 
                .item
                    =image_tag "images/gumbys.jpg"
                    .carousel-caption
                        Caption 2 
                        %p text
                .item
                    =image_tag "images/bwws.jpg"
                    .carousel-caption
                        Caption 3 
                        %p text
            .carousel-control.left{"data-slide"=>"prev", :onclick =>"$('#slides').carousel('prev')"}
                
            .carousel-control.right{"data-slide"=>"left", :onclick =>"$('#slides').carousel('next')"}

    .col-sm-4 
        .row
            .col-sm-2
                %h2 Welcome!
                
        .row
            .col-sm-2
            .col-sm-8
                We're here to help you find the best deals in Iowa City. 
                If you're a restaurant owner, create an account and join the Gorge where 
                Iowa City residents are engorging without eating a whole through their wallet!
        .row

.row
    %nav.navbar.navbar-inverse
        .container-fluid
            .navbar-header
                .navbar-brand  
                    Today's Deals!
                    
            %form.navbar-form.navbar-right{:id=>'search_deals'}
                .formgi-group
                    .form-inline

                        = form_tag(sessions_path, :method => "get", id: "search-form") do
                            = text_field_tag :deal, params[:deal], placeholder: "Search Deals", class: 'form-control'
                            
                            = button_tag(:type => 'submit', :class => 'btn btn-success') do
                                %i.class.glyphicon.glyphicon-search

.row    
    .deal_class
        .deal-left
            %h5 Status
            %h1 Deal Title
            %h5 Rating tool
        .deal-right
            %p 
            .deal_duration
            %h5 Start Date: mm-dd-yy
            %h5 End Date: mm-dd-yy
            
.deal_class

= form_tag sessions_path, :method => 'get' do

    = label :deal,  'Filter by'
    = text_field_tag :deal, params[:deal]
    
    = submit_tag 'Search', :name => nil
    = submit_tag 'Clear Search', :name => 'clear_search'

%table#deals-table
    %thead
        %tr
            %th Deal Title
            %th Deal Description
            %th Restaurant
      
    %tbody
        - @deals.each do |deal|
            %tr
                %td= link_to deal.title, deal_path(deal)
                %td= deal.description
                %td= link_to deal.restaurant_name, restaurant_path(deal.restaurant_id)
    
.footer
