    
.row
  .col-sm-3
  .col-sm-6
    .row 
      = simple_form_for("session", :url => login_create_path, :html => { :class => "form-horizontal" } ) do |f|
        %fieldset
        %legend Log In
        .pull-right
          =link_to new_restaurant_path do 
            %span.glyphicon.glyphicon-user
            = 'Sign Up'
        = f.input :email
        = f.input :password
        .form-actions
          = f.button :submit, 'Log In'
    .row 

  .col-sm-3