.new_session
  %h1 Log In

  = form_tag login_create_path :method => 'post' do
    
    = label :restaurant_session, :name, 'Account ID', :id => 'Account_ID'
    = text_field :restaurant_session, 'name', placeholder: 'Account ID', :id => 'signup_name'
    
    = label :restaurant_session, :password, 'Account Password', :id => 'Account_Password'
    = text_field :restaurant_session, 'password', placeholder: 'Account Password', :id => 'signup_password'
    
    = button_to 'Login to my account', login_create_path, :method => :post, :id => 'login_submit'
    
    = link_to 'Forgot Account ID or Password', root_path, :id => 'login_link'
    = link_to 'Register for an Account', new_restaurant_path, :method => :get, :id => 'login_link'
    
    