%H1 Edit

= button_to 'Home', root_path, :method => :get
= button_to 'Log Out', logout_path, :method => :delete, :id => 'logout'

%h2 Welcome, #{@user.user_id} !

%h3 Profile Details
= link_to 'Edit', edit_user_path(@user)

= label :user, :user_id, 'Account ID'
= text_field :user, 'user_id', placeholder: "Account ID"

= label :user, :email, 'Account Email'
= text_field :user, 'email', placeholder: "Account Email"

= label :user, :password, 'Account Password'
= button_to 'Update Password'