.row 
  .col-sm-3 
    her
  .col-sm-9
    .new_session
      %h1 Sign-up

      = form_tag users_path do
  
      = label :user, :user_id, 'Account-ID', :id => 'label'
      = text_field :user, 'user_id', placeholder: "Account ID", :id => 'textfield'
  
      = label :user, :email, 'Account E-mail', :id => 'label'
      = text_field :user, 'email', placeholder: "Account E-mail", :id => 'textfield'
  
      = label :user, :password, 'Account Password', :id => 'label'
      = text_field :user, 'password', placeholder: "Account Password", :id => 'textfield'
      = label :user, :password, 'Confirm Password', :id => 'label'
      = text_field :user, 'password', placeholder: "Confirm Password", :id => 'textfield'
 

      = submit_tag 'Create Account', :id => 'login_submit'