= button_to 'Home', root_path, :method => :get
= button_to 'Log Out', logout_path, :method => :delete, :id => 'logout'

%h2 Welcome, #{@user.user_id} !

%h3 Profile Details
= link_to 'Edit', edit_user_path(@user)

%ul#details
  %li
    User Id:
    = @user.user_id
  %li
    Email:
    = @user.email
  %li
    Password:
    = @user.password
  %li
    Session token:
    = @user.session_token


= button_to 'Delete', user_path(@user), :method => :delete, :confirm => 'Are you sure?'
