.right-button
  = button_to 'Home', root_path, :method => :get
  
%h2 Welcome, #{@current_restaurant.name} !
%h4 Modify #{@deal.title} :

= form_tag deal_path(@deal), :method => :put do
    
  = label :deal, :title, 'Deal Title'
  = text_field :deal, 'title', placeholder: "Deal Title"
  
  = label :deal, :description, 'Description'
  = text_field :deal, 'description', placeholder: "Description"
  
  = label :deal, :ethnicity, 'Type'
  = select(:deal, :ethnicity, options_for_select([["General", "All"], ["Mexican", "Mexican"], ["Asian", "Asian"], ["Spanish", "Spanish"], ["Seafood", "Seafood"]]))
  
  = label :deal, :start_date, 'Start Date'
  = text_field :deal, 'start_date', placeholder: "Start Date"
  
  = label :deal, :end_date, 'End Date'
  = text_field :deal, 'end_date', placeholder: "End Date"
  
  = label :deal, :start_time, 'Start Time'
  = text_field :deal, 'start_time', placeholder: "Start Time"
  
  = label :deal, :end_time, 'End Time'
  = text_field :deal, 'end_time', placeholder: "End Time"
  
  = label :deal, :days_checkboxes, 'Days of Week'
  
  - if @deal.sunday == true
    <input type="checkbox" checked="checked" name="deal[sunday]" value="1" id="deal_sunday">
  - else
    <input type="checkbox" name="deal[sunday]" id="deal_sunday">
    
  <label for="sunday">Sunday</label>
  
  - if @deal.monday == true
    <input type="checkbox" checked="checked" name="deal[monday]" value="1" id="deal_monday">
  - else
    <input type="checkbox" name="deal[monday]" id="deal_monday">
  
  <label for="monday"> Monday</label>
  
  - if @deal.tuesday == true
    <input type="checkbox" checked="checked" name="deal[tuesday]" value="1" id="deal_tuesday">
  - else
    <input type="checkbox" name="deal[tuesday]" id="deal_tuesday">
  
  <label for="tuesday"> Tuesday</label>
  
  - if @deal.wednesday == true
    <input type="checkbox" checked="checked" name="deal[wednesday]" value="1" id="deal_wednesday">
  - else
    <input type="checkbox" name="deal[wednesday]" id="deal_wednesday">
  
  <label for="wednesday">Wednesday</label>
  
  - if @deal.thursday == true
    <input type="checkbox" checked="checked" name="deal[thursday]" value="1" id="deal_thursday">
  - else
    <input type="checkbox" name="deal[thursday]" id="deal_thursday">
    
  <label for="thursday">Thursday</label>
  
  - if @deal.friday == true
    <input type="checkbox" checked="checked" name="deal[friday]" value="1" id="deal[friday]">
  - else
    <input type="checkbox" name="deal[friday]" id="deal[friday]">
    
  <label for="friday">Friday</label>
  
  - if @deal.saturday == true
    <input type="checkbox" checked="checked" name="deal[saturday]" value="1" id="deal_saturday">
  - else
    <input type="checkbox" name="deal[saturday]" value="false" id="deal_saturday">
    
  <label for="saturday">Saturday</label>
    
  = submit_tag 'Update Deal', :id => 'login_submit'
    
= button_to 'Delete Deal', deal_path(@deal), :method => :delete, :confirm => 'Are you sure?'