- if @current_restaurant == @deal.restaurant
  .row#signupform
    %h2 Welcome, #{@current_restaurant.name}!
    .row
      .col-sm-3
      .col-sm-6
        .row
        = simple_form_for(@deal, :html => { :class => "form-horizontal" } ) do |f|
          %fieldset
          %legend Modify #{@deal.title}
          = f.input :title, placeholder: 'Deal Title'
          = f.input :description, placeholder: "Deal Description"
          = f.input :ethnicity, placeholder: "Ethnicity"
          = f.input :start_date
          = f.input :end_date
          = f.input :start_time 
          = f.input :end_time
          =f.input :ethnicity, placeholder: [ "General" ], collection: [ "Mexican", "Asian", "Seafood", "Italian", "American", "General" ]
          = f.input :sunday, :as => :boolean, :label =>'Sunday'
          = f.input :monday, :as => :boolean, :label =>'Monday'
          = f.input :tuesday, :as => :boolean, :label =>'Tuesday'
          = f.input :wednesday, :as => :boolean, :label =>'Wednesday'
          = f.input :thursday, :as => :boolean, :label =>'Thursday'
          = f.input :friday, :as => :boolean, :label =>'Friday'
          = f.input :saturday, :as => :boolean, :label =>'Saturday'
          .form-actions.pull-right
            = f.button :submit, 'Update Restaurant Details'
      
  
- else 
  .col-sm-3
  .col-sm-9
    .row 
      %h1 Whoops! 
    .row 
      Looks like you've stumbled upon the wrong page!