.row
  %nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        .navbar-brand 
          %i.glyphicon.glyphicon-tags
          All Deals Page 
          
                    
      %form.navbar-form.navbar-right{:id=>'search_deals'}
        .form-group
          .form-inline
            = form_tag(deals_path, :method => "get", id: "search-form") do
              = text_field_tag :deal, params[:deal], placeholder: "Search Deals", class: 'form-control', id: 'search_field' do 
                %i#searchclear.glyphicon.glyphicon-remove-circle
              = button_tag(:type => 'submit', :class => 'btn btn-destroy') do
                %i.class.glyphicon.glyphicon-search
                  
                 

          
%table#restaurants-table
  %thead
    %tr
      %th Deal Title
      %th Deal Description
      %th Restaurant
  %tbody
    - @deals.each do |deal|
      %tr
        %td= link_to deal.title, deal_path(deal)
        %td= deal.description
        -if !deal.restaurant_name.nil?
          %td= link_to Restaurant.where(:id => deal.restaurant_id).pluck(:name)[0], restaurant_path(deal.restaurant_id)
          
       
        

