.row#row_bottom_cushion
  .col-sm-3
  .col-sm-6
    .row.bottom
    = simple_form_for("deal", :url => deals_path, :html => { :class => "form-horizontal" } ) do |f|
      %fieldset
      %legend Create New Deal
      = f.input :title,  :label =>'Deal Title', :placeholder =>'Taco Tuesday'
      = f.input :description, :label => 'Description', :placeholder => "Half off all tacos on tuesdays 5-8pm!"
      = f.input :start_date, :label => 'Start Date', :placeholder => "2016-12-22"
      = f.input :end_date, :label => 'End Date', :placeholder => "2016-12-24"
      = f.input :start_time, :label => 'Start Time', :placeholder => ""
      = f.input :end_time, :label => 'End Time', :placeholder => ""
      =f.input :ethnicity, placeholder: [ "General" ], collection: [ "Mexican", "Asian", "Seafood", "Italian", "American", "General" ]
      = f.input :sunday, :as => :boolean, :label =>'Sunday'
      = f.input :monday, :as => :boolean, :label =>'Monday'
      = f.input :tuesday, :as => :boolean, :label =>'Tuesday'
      = f.input :wednesday, :as => :boolean, :label =>'Wednesday'
      = f.input :thursday, :as => :boolean, :label =>'Thursday'
      = f.input :friday, :as => :boolean, :label =>'Friday'
      = f.input :saturday, :as => :boolean, :label =>'Saturday'
      .form-actions
        = f.button :submit, 'Create Deal'