- if @deal.restaurant_id == @current_restaurant.id
  %h3 Edit Deal
  = link_to 'Edit', edit_deal_path(@deal)

- deal_days = ""
-if @deal.sunday == true
  -deal_days = deal_days + "Sunday "
-if @deal.monday == true
  -deal_days = deal_days + "Monday "
-if @deal.tuesday == true
  -deal_days = deal_days + "Tuesday "
-if @deal.wednesday == true
  -deal_days = deal_days + "Wednesday "
-if @deal.thursday == true
  -@deal_days = deal_days + "Thursday "
-if @deal.friday == true
  -deal_days = deal_days + "Friday "
-if @deal.saturday == true
  -deal_days = deal_days + "Saturday"
    
.display_deal
  %h1 #{@deal.title}'s Details'
  
  
  %h2
    Deal Title:
    = @deal.title
  %h2
    Deal Description:
    = @deal.description
  %h2
    Deal Start Date:
    = @deal.start_date
  %h2
    Deal End Date:
    = @deal.end_date
  %h2
    Deal Start Time:
    = @deal.start_time
  %h2
    Deal End Time:
    = @deal.end_time
  %h2
    Deal Ethnicity:
    = @deal.ethnicity
  %h2
    Deal Days:
    = deal_days
  %h2 
    Restaurant Name:
    = @deal.restaurant_name