- if @current_restaurant == @restaurant
  .row#row_bottom_cushion
    %h2 Welcome, #{@restaurant.name}!
    .row
      .col-sm-3
      .col-sm-6
        .row
        = simple_form_for("restaurant", :url => edit_restaurant_path(@restaurant), :html => { :class => "form-horizontal" } ) do |f|
          %fieldset
          %legend Edit Profile Details
          = f.input :contact, placeholder: "Contact Name"
          = f.input :name, placeholder: "Restaurant Name"
          = f.input :email, placeholder: "Account Email"
          = simple_form_for("restaurant", :url => restaurant_path(@restaurant), :method => :put, :html => { :class => "form-horizontal" } ) do |f|
            .form-actions
              = f.button :submit, 'Update Password'
          .form-actions.pull-right
            = f.button :submit, 'Update Account Details'
          = simple_form_for("restaurant", :url => restaurant_path(@restaurant), :method => :put, :html => { :class => "form-horizontal" } ) do |f|
            %fieldset
            %legend Edit Restaurant Details
            = f.input :location, placeholder: "Restaurant Location"
            = f.input :description, placeholder: "Restaurant Description"
            .form-actions.pull-right
              = f.button :submit, 'Update Restaurant Details'
- else 
  .col-sm-3
  .col-sm-9
    .row 
      %h1 Whoops! 
    .row 
      Looks like you've stumbled upon the wrong page!