.row
  %nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        .navbar-brand 
          %i.glyphicon.glyphicon-user
          All Restaurants Page 
          
                    
      %form.navbar-form.navbar-right{:id=>'search_deals'}
        .form-group
          .form-inline
            = form_tag(restaurants_path, :method => "get", id: "search-form") do
              = text_field_tag :restaurant, params[:restaurant], placeholder: "Search Restaurants", class: 'form-control', id: 'search_field'  
              = button_tag(:type => 'submit', :class => 'btn btn-destroy') do
                %i.class.glyphicon.glyphicon-search

#table_title
  %h1 View All Restaurants


%table#restaurants-table
  %thead
    %tr
      %th Restaurant Name
      %th Restaurant Contact
      %th Restaurant Location
      %th Restaurant Description
  %tbody
    - @restaurants.each do |restaurant|
      %tr
        %td= link_to restaurant.name, restaurant_path(restaurant)
        %td= restaurant.contact
        %td= restaurant.location
        %td= restaurant.description
