.row
  .col-sm-3
  .col-sm-6
    .row 
    = simple_form_for("restaurant", :url => restaurants_path, :html => { :class => "form-horizontal" } ) do |f|
      %fieldset
      %legend Sign Up Restaurant
      = f.input :name
      = f.input :email
      = f.input :password
      = f.input :password_confirmation
      = f.input :contact
      = f.input :location
      = f.input :description
      = f.check_box :terms_of_service
      .form-actions
        = f.submit
        
  .col-sm-3
