.new_session
  %h1 Sign Up Restaurant

= form_tag restaurants_path do

  = label :restaurant, :name, 'Restaurant Name', :id => 'Restaurant_Name'
  = text_field :restaurant, 'name', placeholder: "Restaurant Name", :id => 'textfield'
  
  = label :restaurant, :email, 'Access Email', :id => 'Access_Email'
  = text_field :restaurant, 'email', placeholder: "Access Email", :id => 'textfield'
  

  = check_box :restaurant, 'terms_of_service'
  = label :restaurant, :terms_of_service, 'I agree to the terms of service for Iowa City Eats!', :id => 'service_agreement'

  = submit_tag 'Request Account', :id => 'login_submit'