.row
  .col-sm-3
  .col-sm-6
    .row 
    = simple_form_for("restaurant", :url => restaurants_path, :html => { :class => "form-horizontal" } ) do |f|
      %fieldset
      %legend Sign Up Restaurant
      = f.input :name
      = f.input :email
      = f.input :password
      = f.input :password_confirmation
      = f.input :contact
      = f.input :location
      = f.input :description
      = f.input :terms, :as => :boolean, :label =>'I accept the terms and conditions'
      .form-actions
        = f.button :submit, 'Sign Up'
        
  .col-sm-3
