- myLongitude = -95.54692519999999
- myLatitude = 4.6480415
%h2 #{@restaurant.name}'s Profile

%h3 Profile Details
= link_to 'Edit', edit_restaurant_path(@restaurant)

%ul
  %li
    Restaurant ID:
    = @restaurant.name
  %li
    Restaurant Contact:
    = @restaurant.contact
  %li
    Restaurant Location:
    = @restaurant.location
  %li
    Restaurant Description:
    = @restaurant.description
  %li
    Deals:
    = @deal
    
  :plain
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2981.3563755728105!
      
      2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87e441bc52e2edb9%3A0x1056fbee4d47d7f!2s961+Miller+Ave%2C+Iowa+City%2C+IA+52246!5e0!3m2!1sen!2sus!4v1480630738521"
      width="600" height="450" frameborder="0" style="border:0" allowfullscreen>
    </iframe>