.right-button
  = button_to 'Home', root_path, :method => :get

%h2 #{@restaurant.name}'s Profile

%h3 Profile Details
= link_to 'Edit', edit_restaurant_path(@restaurant)

%ul
  %li
    Restaurant ID:
    = @restaurant.name
  %li
    Restaurant Contact:
    = @restaurant.contact
  %li
    Restaurant Location:
    = @restaurant.location
  %li
    Restaurant Description:
    = @restaurant.description
  %li
    Deals: