%h1 Search Results
= link_to 'Back to Deals', deals_path

- if @search.search_deals.blank?
  "No Records Found"
  
- else
  %table#restaurants-table
    %thead
      %tr
        %th Deal Title
        %th Deal Start Date
        %th Deal End Date
        %th Deal Description
        %th Deal Ethnicity
        %th Offered by Restaurant
        %th Days Offered
        %th More Info
    %tbody
    - @search.search_deals.each do |deal|
      - deal_days = ""
      -if deal.sunday == true
        -deal_days = deal_days + "Sunday "
      -if deal.monday == true
        -deal_days = deal_days + "Monday "
      -if deal.tuesday == true
        -deal_days = deal_days + "Tuesday "
      -if deal.wednesday == true
        -deal_days = deal_days + "Wednesday "
      -if deal.thursday == true
        -deal_days = deal_days + "Thursday "
      -if deal.friday == true
        -deal_days = deal_days + "Friday "
      -if deal.saturday == true
        -deal_days = deal_days + "Saturday"
        
      
      %tr
        %td= deal.title
        %td= deal.start_date
        %td= deal.end_date
        %td= deal.description
        %td= deal.ethnicity
        %td= deal.restaurant_name
        %td= deal_days
        -deal_days = deal_days + "Saturday"
        
      
      %tr
        %td= deal.title
        %td= deal.start_date
        %td= deal.end_date
        %td= deal.description
        %td= deal.ethnicity
        %td= deal.restaurant_name
        %td= deal_days
        %td= link_to "More about #{deal.title}", deal_path(deal)    

= link_to 'Create New Search', new_search_path