!!! 5
%html
  %head
    %title The Gorge
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Lato'
    = stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Oswald:400,300'
    = stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Open+Sans'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    
  %body
    .container-fluid#main-container
      .row 
        %nav.navbar.navbar-inverse.navbar-fixed-top
          .container-fluid
            .navbar-header
              .navbar-brand   
                THE GORGE
            %ul.nav.navbar-nav
              %li
                =link_to root_path do 
                  %span.glyphicon.glyphicon-home
                  = 'Home'
              %li 
                =link_to 'Deals', deals_path
              %li 
                =link_to 'Restaurants', restaurants_path
                
            - if !@current_restaurant
              %ul.nav.navbar-nav.navbar-right
                %li
                  =link_to new_restaurant_path do 
                    ='Sign Up'
                    %span.glyphicon.glyphicon-user 
                %li
                  = link_to login_path do 
                    ='Log In'
                    %span.glyphicon.glyphicon-log-in 
            - else   
              %ul.nav.navbar-nav.navbar-right
                %li
                  =link_to new_deal_path do 
                    ='Create Deal'
                    %span.glyphicon.glyphicon-plus-sign
                %li
                  = link_to logout_path, :method => 'delete' do 
                    ='Log Out'
                    %span.glyphicon.glyphicon-log-out

        - if flash[:notice]
          #notice.message= flash[:notice]
        - elsif flash[:warning]
          #warning.message= flash[:warning]
          
      .footer
        .navbar.navbar-inverse.navbar-fixed-bottom
          .container
            .navbar-text.pull-right
              %span.glyphicon.glyphicon-education
              2016 SELT Class University Of Iowa, 
              

      = yield
