!!!
%html
  %head
    %title SELT PROJECT
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Lato'
    = stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Oswald:400,300'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    #main
      .left-h1
        =link_to 'Iowa City Eats!', root_path
        
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]

      - if !@current_user
        .right-button
          = button_to 'Log In', login_path, :method => :get, :id => 'signuplogin'

          = button_to 'Sign Up', new_user_path, :method => :get, :id => 'signuplogin'

          = button_to 'Request an Account (if Restaurant)', new_restaurant_path, :method => :get, :id => 'requestrestaurant'
      
      - else
        .right-button
          = button_to 'Home', root_path, :method => :get
        .right-button
          = button_to 'Log Out', logout_path, :method => :delete, :id => 'logout'

      = yield
